.amentities {
    height: 745px;
    background-color: #fff;

    text-align: center;
}

.ametities_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}